<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/login.css">

</head>

<body>
    <%- include('../partials/header') %>

        <div class="container">
            <div class="form">
                <div class="registro">
                    <h1>Ingresa Aqui</h1>

                </div>
                <form class="register" action="" method="POST">
                    <div class="email">
                        <p class="email">¿Cuál es tu correo electronico?</p>
                        <input type="email" name="email" id="email" placeholder="Correo Electrónico"
                            value="<%= (typeof data!='undefined' && data.email)?data.email : "" %>"
                            placeholder="Ingresa Email">
                        <p>
                            <%= (typeof errores!='undefined' && errores.email)?errores.email.msg : "" %>
                        </p>
                        <span id= errorEmail class="text-danger"></span>

                    </div>

                    <div class="contraseña">
                        <p class="contraseña">Crea una contraseña:</p>
                        <input type="password" name="pass" id="pass" placeholder="Contraseña"
                            value="<%= (typeof data!='undefined' && data.pass)?data.pass : "" %>"
                            placeholder="Ingresa Password">
                        <p>
                            <%= (typeof errores!='undefined' && errores.pass)?errores.pass.msg : "" %>
                        </p>
                        <span id= errorPassword class="text-danger"></span>

                    </div>
                    <div class="recordarme">
                        <p class="recordarme">Recordarme</p>
                        <input type="checkbox" name="recordar" id="recordar">
                    </div>
                    <button type="submit">Ingresar</button>
                    <div class="ingresar">
                        <a href="/session/register">
                            <p>¿No tienes cuenta? Ingresa Aqui</p>
                        </a>

                    </div>
                </form>
            </div>
        </div>


        <%- include('../partials/footer') %>

</body>

</html>