<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title>Profile</title>
    <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/profile.css">
    
</head>
<body>
        <!-- HEADER -->
    <%- include('./partials/header')  %> 

    <div class="card">
        <main>
            <h1>Profile </h1>
        
            <section class="basic">                  
                    <img src="/images/Users/<%= user.img %> " alt="img">
                    <p>Nombre:</p>
                    <span><%= user.name %> <%= user.lastName %></span>
            </section>
        
            <section class="data">
                <div>
                    <p>Mail:</p>
                    <span><%= user.email %></span>
                </div>
            </section>
        
            <div class="close">
                <a href="/session/profile/logout">
                    <button>Cerrar Sesion</button>
                </a>
            </div>
        </main>
    </div>

        <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>