<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="/images/wine.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/all.css">


</head>

<body>
    <%- include('../partials/header') %>

        <div class="container">

            <div class="form" >

                <div class="registro">
                    <div class="titulos col-12" >
                        <h1>¡Bienvenid@, crea tu cuenta aqui!</h1>
                    </div>
                    <form class="register" action="" method="POST" enctype="multipart/form-data" id="form">
                        <div class="nombre col-12">
                            <p>¿Cuál es tu nombre?</p>
                            <input type="text" name="name" id="name" placeholder="Nombre" >

                                <p class="span"><span id= errorName class="text-danger"></span></p>
                            <p>
                                <%= (typeof errores!='undefined' && errores.nombre)?errores.nombre.msg : "" %>
                            </p>

                        </div>
                        <div class="apellido">
                            <p>¿Cuál es tu apellido?</p>
                            <input type="text" name="lastName" id="lastName" placeholder="Apellido"
                                value="<%= (typeof data!='undefined' && data.apellido)?data.apellido : "" %>"
                                placeholder="Apellido">
                                <p class="span"><span id= errorLast_name class="text-danger"></span></p>

                            <p>
                                <%= (typeof errores!='undefined' && errores.apellido)?errores.apellido.msg : "" %>
                            </p>
                        </div>
                        
                        <div class="address">
                            <p>¿Cuál es tu dirección?</p>
                            <input type="text" name="address" id="address" placeholder="Dirección">
                            <p class="span"> <span id= errorDireccion class="text-danger"></span></p>

                        </div>
                        <label for="dateOfBirth">Fecha de nacimiento:</label>

                        <input type="date" name="dateOfBirth" id="dateOfBirth">
                        <p class="span"> <span id= errorEdad class="text-danger"></span></p>





                        <div class="email">
                            <p class="email">¿Cuál es tu correo electronico?</p>
                            <input type="email" name="email" id="email" placeholder="Correo Electrónico"
                                value="<%= (typeof data!='undefined' && data.email)?data.email : "" %>"
                                placeholder="Ingresa tu email">
                                <p class="span"> <span id= errorEmail class="text-danger"></span></p>


                            <p>
                                <%= (typeof errores!='undefined' && errores.email)?errores.email.msg : "" %>
                            </p>
                        </div>

                        <div class="contraseña">
                            <p class="contraseña">Crea una contraseña:</p>
                            <input type="password" name="pass" id="pass" placeholder="Contraseña"
                                value="<%= (typeof data!='undefined' && data.pass)?data.pass : "" %>"
                                placeholder="Ingresa Password">
                                <p class="span"> <span id= errorPassword class="text-danger"></span></p>

                            <p>
                                <%= (typeof errores!='undefined' && errores.pass)?errores.pass.msg : "" %>
                            </p>
                        </div>


                        <div class="repetir contraseña">
                            <p>Repetir Contraseña:</p>
                            <input type="password" name="pass2" id="pass2" placeholder="Repetir Contraseña"
                                value="<%= (typeof data!='undefined' && data.pass2)?data.pass2-repeat : "" %>"
                                placeholder="Repetir contraseña">
                                <p class="span"> <span id= errorPassword2 class="text-danger"></span></p>

                            <p>
                                <%= (typeof errores!='undefined' && errores.pass2)?errores.pass2.msg : "" %>
                            </p>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="">
                                <input class="form-control" type="file" id="formFile" name="img">
                                <p class="span"> <span id="errorFoto_x" class="text-danger"></span></p>

                            </div>
                        </div>
                        <button type="submit"> ¡CREAR CUENTA! </button>
                        <p class="span"><span id="msgError" class="text-danger"></span></p>

                        <div class="ingresar">
                            <a href="/session/login">
                                <p>¿Ya tienes cuenta? Ingresa Aqui</p>
                            </a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
            <script src="/javascript/registerValidation.js"></script>
</body>

</html>