<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/all.css">


</head>

<body>

    <%- include('../partials/header') %>


        <div class="container">

            <div class="form">

                <div class="registro">
                    <div class="titulos">
                        <h3>COMPLETA TUS DATOS PERSONALES</h3>

                    </div>
                    <h1>¡Bienvenid@, crea tu cuenta aqui!</h1>
                </div>
                <form class="register" action="" method="POST" enctype="multipart/form-data">
                    <div class="nombre">
                        <p>¿Cuál es tu nombre?</p>
                        <input type="text" name="name" id="name" placeholder="Nombre"
                            value="<%= (typeof data!='undefined' && data.nombre)?data.nombre : "" %>" id=""
                            placeholder="Nombre">
                        <p>
                            <%= (typeof errores!='undefined' && errores.nombre)?errores.nombre.msg : "" %>
                        </p>

                    </div>
                    <div class="apellido">
                        <p>¿Cuál es tu apellido?</p>
                        <input type="text" name="lastName" id="lastName" placeholder="Apellido"
                            value="<%= (typeof data!='undefined' && data.apellido)?data.apellido : "" %>"
                            placeholder="Apellido">
                        <p>
                            <%= (typeof errores!='undefined' && errores.apellido)?errores.apellido.msg : "" %>
                        </p>
                    </div>
                    <label for="genero" class="form-label">genero:</label>
                    <select class="form-select" name="gender" value=" " id="gender" required size="1">
                        <option class="form-option" value=""></option>

                        <option class="form-option" value="Masculino">Masculino</option>
                        <option class="form-option" value="Femenino">Femenino</option>
                    </select>
                    <div class="address">
                        <p>¿Cuál es tu dirección?</p>
                        <input type="text" name="address" id="address" placeholder="Dirección">
                    </div>
                    <label for="dateOfBirth">Fecha de nacimiento:</label>

                    <input type="date" id="start" name="dateOfBirth" id="dateOfBith" min="1920-01-01"
                        max="2010-12-31">




                    <div class="email">
                        <p class="email">¿Cuál es tu correo electronico?</p>
                        <input type="email" name="email" id="email" placeholder="Correo Electrónico"
                            value="<%= (typeof data!='undefined' && data.email)?data.email : "" %>"
                            placeholder="Ingresa tu email">


                        <p>
                            <%= (typeof errores!='undefined' && errores.email)?errores.email.msg : "" %>
                        </p>
                    </div>

                    <div class="contraseña">
                        <p class="contraseña">Crea una contraseña:</p>
                        <input type="password" name="password" id="password" placeholder="Contraseña"
                            value="<%= (typeof data!='undefined' && data.pass)?data.pass : "" %>"
                            placeholder="Ingresa Password">
                        <p>
                            <%= (typeof errores!='undefined' && errores.password)?errores.password.msg : "" %>
                        </p>
                    </div>


                    <div class="repetir contraseña">
                        <p>Repetir Contraseña:</p>
                        <input type="password" name="password" id="password-repeat" placeholder="Repetir Contraseña"
                            value="<%= (typeof data!='undefined' && data.pass2)?data.password-repeat : "" %>"
                            placeholder="Repetir contraseña">

                        <p>
                            <%= (typeof errores!='undefined' && errores.password-repeat)?errores.password-repeat.msg
                                : "" %>
                        </p>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="">
                          <input class="form-control" type="file" id="formFile" name="img" required>
                        </div>
                      </div>
                    <button type="submit"> ¡CREAR CUENTA! </button>

                    <div class="ingresar">
                        <a href="/session/login">
                            <p>¿Ya tienes cuenta? Ingresa Aqui</p>
                        </a>
                    </div>


                </form>
            </div>
        </div>
        <%- include('../partials/footer') %>

</body>

</html>