<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row ">
                    <% products.forEach(product=> { %>
                        <article class="col-12 col-md-4 col-lg-3 ">
                            <ul class="list-group list-group-flush my-3 ">
                                <div class="card" style="width: 18rem;">
                                    <img src="/images/Botellas/<%= product.imagen %> " alt="" class="card-img-top">
                                
                                <li class="list-group-item">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                       Precio: $<%= product.price %>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                       Precio Caja: $<%= product.priceBox %>
                                    </h6>
                                </li>
                                <li class="list-group-item"><a href="" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal-<%= product.id %> ">
                                        <%= product.type %>
                                    </a></li>
                                <li class="list-group-item">
                                    <div class="m-2 d-flex justify-content-around">
                                        <form action="/admin/products/<%= product.id %>/edit">
                                            <button class="btn btn-sm btn-success" type="submit">Editar</a></button>
                                        </form>
                                        <form action="/admin/products/<%= product.id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-danger" type="submit">Eliminar</a></button>
                                        </form>
                                    </div>
                                </li>
                            </div>
                            </ul>
                        </article>
                        <% }) %>
                </section>
            </main>







            <%- include('./partials/footer') %>

    </body>

</html>